<launch>
     <arg name="record" default="false"/>
     <arg name="record_time" default="30"/>
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    </include>
    <node 
        pkg="turtlebot_walker" 
        name="turtlebot_walker"
        type="turtlebot_walker" 
        output="screen" 
        launch-prefix="gnome-terminal --command"
     />
    
    <node
        pkg="rosbag"
        name="rosbag_recorder"
        type="record" --all --output-name=$(find turtlebot_walker)/results/turtlebot_walker.bag -x /camera/(.*) --duration=$(arg secs)" if="$(arg record)"    
    />
</launch>
